<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <ion-searchbar [(ngModel)]="searchTerms" (ionChange)="search()"></ion-searchbar>

 <ion-item>
  <ion-label> Selecionar tipo   </ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="search()">
    <ion-select-option value="">All</ion-select-option>
    <ion-select-option value="movie">Movies</ion-select-option>
    <ion-select-option value="series">Series</ion-select-option>
    <ion-select-option value="episode">Episode</ion-select-option>
    <ion-select-option value="game">Games</ion-select-option>
  </ion-select>
 </ion-item>

 <ion-list>
  <!--segura pra carregar e n dar erro-->
  <ion-item button *ngFor="let item of (result | async)" [routerLink]="['/', 'movies-details', item.imdbID]">
    <ion-avatar slot="start"> 
      <!--padrao se n tiver n apararce-->
    <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
    </ion-avatar>
    <!--quebra de linha automatica-->
    <ion-label text-wrap>
      <h3>{{item.Title}}</h3> {{item.Year}}
    </ion-label>
      <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'episode'" name="desktop-outline"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="game-controller-outline"></ion-icon>

  </ion-item>
 </ion-list>

</ion-content>
