

<ion-content  >

  <ion-list >
    <ion-item> </ion-item>
    <ion-item> </ion-item>
   
    <ion-item >
      <ion-input  [ngModel]="visor" disabled="true"></ion-input>
     </ion-item>

    <ion-item>
       <!--COMECO LB1-->
       
        <ion-button  class="operacao2" (click)="botaoAC ? zerar() : mudaBotao()">
          {{ botaoAC ? 'C' : 'AC' }}
        </ion-button >
     
      <ion-button  class="operacao2" (click)="addSinal()">
        +/-
       </ion-button >
       <ion-button class="operacao2" (click)="addPorcentagem()">
        %
       </ion-button >
       <ion-button  class="operacao" (click)="addOperacao(3)">
        ÷
       </ion-button >

       <!--fim LB1-->
    </ion-item>

    <ion-item > <!--comeco LB2-->
      <ion-button  (click)="addNum('7')">
        7
       </ion-button >
       <ion-button  (click)="addNum('8')">
         8
        </ion-button >
        <ion-button (click)="addNum('9')">
         9
        </ion-button >
        <ion-button  class="operacao" (click)="addOperacao(2)">
          &times;
         </ion-button >
    
    
    </ion-item>

    <ion-item >
      <ion-button  (click)="addNum('4')">
        4
       </ion-button >
       <ion-button  (click)="addNum('5')">
         5
        </ion-button >
        <ion-button  (click)="addNum('6')">
         6
        </ion-button >
        <ion-button  class="operacao" (click)="addOperacao(1)">
          -
         </ion-button >
    </ion-item>

    <ion-item >
      <ion-button  (click)="addNum('1')">
        1   
       </ion-button >
       <ion-button (click)="addNum('2')">
         2
        </ion-button >
        <ion-button  (click)="addNum('3')">
         3
        </ion-button >
        <ion-button  class="operacao" (click)="addOperacao(0)">
          +
         </ion-button >
    </ion-item>

    <ion-item>
      <ion-button id="zero" (click)="addNum('0')">
        0
      </ion-button>

     <ion-button  (click)="addVirgula()">
      ,
    </ion-button >

     <ion-button class="operacao" (click)="calcular()">
      =
    </ion-button >
    </ion-item>

  </ion-list>


</ion-content>
