ion-list{
  height: 100%;
  border: none;
 
}
ion-item{
  margin: auto;
  border: none;  
}

ion-button {
  width: 10%;
  height: 70%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
  font-size: 1.5em;
  --background: #2e2e2e;
  --backgorund-activated: #5e5b5b;
  --border-radius: 50em;
}
ion-fab-button{
  margin: 0 auto;
  width: 20%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 17pt;
  --background: #272525;
  --background-activated: #5e5b5b;
}
ion-content {
  height: 150%;
  border: none;
  --background: #1c1c1c;
  border-radius: 60pt; 
}

ion-button:active{
  --background-activated: #5e5b5b;
}
.operacao{
  --background: #ffa41c;
  --background-activated: #ffbf5e;
}

.operacao2{
--background: #aca8a5;
 --color:#050505;
 --background-activated:#e0e0e0;
}


ion-input {
  text-align: right;
  font-size: 50pt;
  margin-right: 7%;
  
  
}




#zero {
  width: 45%;
  --background: #272525;
  --backgorund-activated: #5e5b5b;
}