

<ion-content >

  <ion-list >
    <ion-item >p1 </ion-item>

    <ion-item >p2</ion-item>

    <ion-item >
     <ion-input [(ngModel)] = "visor"></ion-input> 
     </ion-item>

    <ion-item>
       <!--COMECO LB1-->
      <ion-fab-button class="operacao2" (click)="zerar()" >
       AC
      </ion-fab-button>
      <ion-fab-button class="operacao2" (click)="addSinal()">
        +/-
       </ion-fab-button>
       <ion-fab-button class="operacao2" (click)="addPorcentagem()">
        %
       </ion-fab-button>
       <ion-fab-button class="operacao" (click)="addOperacao(3)">
        ÷
       </ion-fab-button>

       <!--fim LB1-->
    </ion-item>

    <ion-item > <!--comeco LB2-->
      <ion-fab-button (click)="addNum('7')">
        7
       </ion-fab-button>
       <ion-fab-button (click)="addNum('8')">
         8
        </ion-fab-button>
        <ion-fab-button (click)="addNum('9')">
         9
        </ion-fab-button>
        <ion-fab-button class="operacao" (click)="addOperacao(2)">
          X
         </ion-fab-button>
    
    
    </ion-item>

    <ion-item >
      <ion-fab-button (click)="addNum('4')">
        4
       </ion-fab-button>
       <ion-fab-button (click)="addNum('5')">
         5
        </ion-fab-button>
        <ion-fab-button (click)="addNum('6')">
         6
        </ion-fab-button>
        <ion-fab-button class="operacao" (click)="addOperacao(1)">
          -
         </ion-fab-button>
    </ion-item>

    <ion-item >
      <ion-fab-button (click)="addNum('1')">
        1   
       </ion-fab-button>
       <ion-fab-button (click)="addNum('2')">
         2
        </ion-fab-button>
        <ion-fab-button (click)="addNum('3')">
         3
        </ion-fab-button>
        <ion-fab-button class="operacao" (click)="addOperacao(0)">
          +
         </ion-fab-button>
    </ion-item>

    <ion-item>
     <ion-fab-button id="zero"  >
      0
     </ion-fab-button>

     <ion-fab-button (click)="addVirgula()">
      ,
    </ion-fab-button>

     <ion-fab-button class="operacao" (click)="calcular()">
      =
    </ion-fab-button>
    </ion-item>

  </ion-list>


</ion-content>
